
body{

    font-family: 'Playfair Display', serif !important;
    
    
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1400px;
}

section.top-header {
    background: #ffa11587;
}
h1.top-heading {
    display: initial;
}
h1.top-heading {
    font-size: 17px;
}
a.learn {
    color: #0e420e;
    font-weight: bold;
    text-decoration: underline;
    padding: 5px;
}
ul.menu-item {
    display: flex;
    list-style-type: none;
    /* justify-content: space-around; */
    margin-top: 40px;
}
li.li-item {
    margin-left: 35px;
    font-weight: bold;
    color: #010101;
}

nav.menu {
    display: flex;
}

div#menu-button {
    display: flex;
    margin: 33px;
}
button.button {
    margin-left: 20px;
}

button.button {
    padding: 8px 22px;
    background: #0f6458;
    color: #fff;
    border: none;
}

button.button-register.rounded-pill {
    background: #FFCD83;
    border: none;
    padding: 8px 22px;
}

h1.feature-heading.display-4.pb-4 {
    color: #0f6458;
}

button.sign-up-button.rounded-pill {
    padding: 11px 24px;
    background: #0f6458;
    border: none;
    color: #fff;
}

button.Download-button.rounded-pill {
    padding: 7px 21px;
    background: transparent;
    border-color: #0f6458;
    color: #0f6458;
}

section.feature {
    padding-top: 55px;
    background: aliceblue;
}

.row.inner-content-wrapper {
    justify-content: center;
}

.icon {
    width: 34px;
    height: 35px;
    border-radius: 100%;
    background: green;
    position: absolute;
    left: -28px;
    color: #fff;
    border: 1px solid;
}

.row.inner-content {
    padding-top: 80px;
}

p.content-text {
    line-height: 38px;
}

.icon2 {
    width: 34px;
    height: 35px;
    border-radius: 100%;
    /* background: green; */
    position: absolute;
    left: -28px;
    color: #000;
    border: 1px solid;
}

.inner-heading {
    font-size: 22px;
    display: flex;
}

section.content-inner-part {
    padding-top: 100px;
}

.heading-icon {
    width: 40px;
    height: 40px;
    background: #b2cdc9;
    border-radius: 100%;
    margin-right: 21px;
}
i.fa.fa-calendar {
    color: #0f6458;
}

img.img-fluid.app-image {
    height: 600px;
}

section.download-app-wrapper {
    background: #FFCD8C;
}

i.fa.fa-handshake-o {
    font-size: 3rem;
    color: #0e5b4c;
}

i.fa.fa-home {
    font-size: 3rem;
    color: #0e5b4c;
}

.price-table {
    background: #eef4f3;
}

li.col-lg-6 {
    padding: .375rem;
    list-style: none;
    font-size: 18px;
    color: #5d5757;
}

i.fa.fa-check-circle.mr-2 {
    color: #0f6458;
}

.price {
    padding: 30px;
    text-align: center;
}